
/node_modules

/public/hot
/public/storage

/storage/*.key

/vendor/autoload.php
/vendor/bin/*
/vendor/composer/*
/vendor/dnoegel/*
/vendor/doctrine/*
/vendor/dragonmantank/*
/vendor/egulias/*
/vendor/erusev/*
/vendor/facade/*
/vendor/fideloper/*
/vendor/filp/*
/vendor/fzaninotto/*
/vendor/hamcrest/*
/vendor/jakub-onderka/*

#/vendor/laravel/*
/vendor/laravel/helpers
/vendor/laravel/tinker
/vendor/laravel/ui

/vendor/laravel/framework/composer.json
/vendor/laravel/framework/LICENSE.md
/vendor/laravel/framework/README.md

/vendor/league/*
/vendor/mockery/*
/vendor/monolog/*
/vendor/myclabs/*
/vendor/nesbot/*
/vendor/nikic/*
/vendor/nunomaduro/*
/vendor/opis/*
/vendor/paragonie/*
/vendor/phar-io/*
/vendor/phpdocumentor/*
/vendor/phpoption/*
/vendor/phpspec/*
/vendor/phpunit/*
/vendor/psr/*
/vendor/psy/*
/vendor/ramsey/*
/vendor/scrivo/*
/vendor/sebastian/*
/vendor/swiftmailer/*
/vendor/symfony/*
/vendor/theseer/*
/vendor/tijsverkoyen/*
/vendor/vlucas/*
/vendor/webmozart/*

/vendor/laravel/framework/src/Illuminate/*
!vendor/laravel/framework/src/Illuminate/Auth
!vendor/laravel/framework/src/Illuminate/Foundation
!vendor/laravel/framework/src/Illuminate/Notifications

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
composer.lock

/public/css/app.js

/public/js/app.js
