@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,600,700,800,900&display=swap);@import url(https://fonts.googleapis.com/css?family=Roboto:400,400i,500&display=swap);.footer {
  background-color: #202020;
  padding: 75px 0;
  position: relative;
}

.footer__menu {
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 0;
}

.footer__menu-title {
  color: white;
  margin-bottom: 25px;
}

.footer__menu li {
  margin-bottom: 10px;
}

.footer__menu-item {
  color: white;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.footer__menu-item:hover {
  color: #1693A6;
}

.footer__menu-socials {
  padding: 0;
  color: white;
  font-size: 26px;
}

.footer__disclaimer {
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.footer__disclaimer-text {
  text-align: center;
  margin: 0;
}

.header {
  background: white;
  padding: 15px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.header__title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  line-height: 1.1;
}

.header-wrap {
  align-content: center;
  display: -webkit-box;
  display: flex;
}

.header__menu {
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  flex-wrap: wrap;
  align-content: center;
  margin: 0;
  padding: 0;
}

.header__menu--mobile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  margin-top: 50px;
}

.header__menu--mobile li {
  padding: 15px 0 !important;
}

.header__menu--mobile a {
  color: black;
}

.header__menu--mobile a:hover {
  color: black;
}

.header__menu--right li {
  padding-right: 20px !important;
}

.header__menu--right li:last-child {
  padding: 0 !important;
}

.header__menu li {
  font-weight: 500;
  padding-right: 50px;
}

.header__menu li:last-child {
  padding: 0;
}

.header__menu-item {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header__menu-item:hover {
  color: #1693A6;
}

.header__menu-item--active {
  color: #1693A6;
}

.header .hamburger {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.header .hamburger--active .header__mobile-menu {
  opacity: 100;
  top: 78px;
  left: 0;
  right: 0;
  bottom: 0;
}

.header .hamburger--active .hamburger__line {
  background: white;
}

.header .hamburger--active .hamburger__line::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.header .hamburger--active .hamburger__line::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.header .hamburger__line {
  background: black;
  position: relative;
  width: 30px;
  height: 2px;
  display: inline-block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header .hamburger__line::before,
.header .hamburger__line::after {
  content: "";
  background: black;
  width: 30px;
  height: 2px;
  display: inline-block;
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header .hamburger__line::before {
  bottom: 7px;
}

.header .hamburger__line::after {
  top: 7px;
}

.header__mobile-menu {
  opacity: 0;
  position: fixed;
  top: 99999999px;
  background: #1693A6;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.content {
  padding: 100px 15px;
}

.content__paragraph {
  max-width: 500px;
  text-align: center;
  margin: 0 auto 20px auto;
}

.content__button--center {
  margin: 0 auto;
  display: table;
}

.hero {
  height: 300px;
  background: no-repeat;
  background-position: 0% 60%;
  position: relative;
}

.hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.button {
  height: 38px;
}

.button--flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.button--primary {
  background: #1693A6;
  color: white;
  padding: 7px 15px;
  border-radius: 4px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  border: none;
}

.button--primary:hover {
  background: #137f8f;
  color: white;
}

.button--primary--small {
  padding: 9px 12px;
}

.button--deblock {
  background: #2c8839;
  color: white;
  padding: 7px 15px;
  border-radius: 4px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  border: none;
}

.button--deblock:hover {
  background: #267531;
  color: white;
}

.button--block {
  color: #ec0d1c;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.button--block:hover {
  color: #d40c19;
}

.button--secondary {
  float: left;
  position: relative;
  left: 50%;
}

.button--space {
  margin: 0 10px 0 10px;
  height: 10px;
  float: left;
}

.button--go-back {
  margin: 20px auto 10px auto;
  text-align: center;
  float: left;
  position: relative;
  left: -50%;
}

.button--left {
  margin: 0;
}

.button--danger {
  background: #cd0613;
  color: white;
  padding: 7px 15px;
  border-radius: 4px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  border: none;
}

.button--danger:hover {
  background: #b40511;
  color: white;
}

.button--soft {
  background: #ffc107;
  color: black;
  padding: 7px 15px;
  border-radius: 4px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  border: none;
}

.button--soft:hover {
  background: #edb100;
  color: black;
}

.button--positive {
  background: #77CCA4;
  color: white;
  padding: 7px 15px;
  border-radius: 4px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  border: none;
}

.button--positive:hover {
  background: #64c598;
  color: white;
}

.btn-link {
  color: #1693A6;
}

.btn-link:hover {
  color: #1693A6;
}

.menu {
  padding: 100px 15px;
  background: white;
}

.menu p {
  text-align: left;
  display: block;
  max-width: 500px;
}

.menu__img {
  width: 100%;
  height: 200px;
  max-width: 400px;
  border-radius: 10px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__button {
  margin-top: 20px;
  display: table;
}

.menukaart {
  padding: 100px 15px;
}

.menukaart__heading {
  margin-bottom: 50px;
}

.menukaart__type {
  color: #1693A6;
  text-align: center;
  margin-bottom: 30px;
}

.menukaart__subtype {
  text-align: left;
  width: 700px;
  font-weight: 700;
  margin: 0 auto 30px auto;
}

.menukaart__single-product {
  margin-bottom: 50px;
}

.menukaart__product {
  max-width: 700px;
  margin: 10px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.menukaart__product-row hr {
  max-width: 700px;
}

.menukaart__product-row:last-child hr {
  display: none;
}

.login {
  padding: 100px 15px;
}

.login__heading {
  margin-bottom: 50px;
}

.reservation {
  padding: 100px 15px;
}

.reservation__heading {
  margin-bottom: 50px;
}

.reservation__field {
  margin-bottom: 35px;
}

.reservation__field .buttons {
  margin: 0 auto;
  display: table;
}

.reservation__alert {
  position: fixed;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  z-index: 999;
  border-radius: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.reservation__alert--dismissed {
  bottom: -60px;
}

.reservation__radio-buttons {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px 0;
}

.reservation__radio-buttons input {
  margin-right: 10px;
}

.reservation__fields {
  text-align: center;
}

.reservation__fields input {
  border: 1px solid #ced4da;
  border-radius: 4px;
  min-width: 200px;
  min-height: 35px;
  text-align: center;
}

.reservation__fields input[type=radio] {
  min-width: auto;
  min-height: auto;
}

.reservation__fields textarea {
  min-height: 100px;
  min-width: 350px;
  border-radius: 4px;
  border: 1px solid #ced4da;
}

label {
  margin: 10px 0;
}

.profiel {
  padding: 100px 15px;
}

.profiel h2 {
  margin-bottom: 30px;
}

.profiel h3 {
  font-weight: 700;
}

.profiel__heading {
  margin-bottom: 35px;
}

.profiel__card {
  margin-bottom: 35px;
  padding: 20px;
}

.profiel__card--less-margin {
  margin-bottom: 15px;
}

.profiel__input {
  margin-bottom: 15px;
}

.profiel__spacing {
  margin-top: 35px;
}

.profiel__spacing button {
  margin-left: 15px;
}

.profiel__remove-modal {
  width: 600px;
  position: fixed;
  left: 50%;
  top: -5000px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  z-index: 999999;
  border-radius: 4px;
  border: solid lightgrey 1px;
  opacity: 0;
  -webkit-transition: 0.5s ease opacity;
  transition: 0.5s ease opacity;
}

.profiel__remove-modal--active {
  top: 50%;
  opacity: 100;
}

.profiel__remove-modal-content {
  padding: 15px;
}

.profiel__remove-modal-background {
  display: none;
  opacity: 0;
  content: "";
  background: rgba(0, 0, 0, 0.7);
  z-index: 999998;
  top: -5000px;
  right: 0;
  bottom: 5000px;
  left: 0;
  position: fixed;
  -webkit-transition: 0.5s ease opacity;
  transition: 0.5s ease opacity;
}

.profiel__remove-modal-background--active {
  display: block;
  top: 0;
  bottom: 0;
  opacity: 100;
}

.profiel__block-modal {
  width: 600px;
  position: fixed;
  left: 50%;
  top: -5000px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  z-index: 999999;
  border-radius: 4px;
  border: solid lightgrey 1px;
  opacity: 0;
  -webkit-transition: 0.5s ease opacity;
  transition: 0.5s ease opacity;
}

.profiel__block-modal--active {
  top: 50%;
  opacity: 100;
}

.profiel__block-modal-content {
  padding: 15px;
}

.profiel__block-modal-background {
  display: none;
  opacity: 0;
  content: "";
  background: rgba(0, 0, 0, 0.7);
  z-index: 999998;
  top: -5000px;
  right: 0;
  bottom: 5000px;
  left: 0;
  position: fixed;
  -webkit-transition: 0.5s ease opacity;
  transition: 0.5s ease opacity;
}

.profiel__block-modal-background--active {
  display: block;
  top: 0;
  bottom: 0;
  opacity: 100;
}

.beheer {
  padding: 100px 0;
}

.beheer__heading {
  margin-bottom: 50px;
}

.beheer__card {
  padding: 25px;
  margin-bottom: 30px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  will-change: transform;
}

.beheer__card:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.beheer__button-container {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 100px;
  padding: 0 10px 0 10px;
  align-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.beheer__button-button {
  margin: 0 20px 0 20px;
  float: left;
}

.beheer__float {
  align-self: center;
  margin: 0 auto;
  float: left;
  width: 20%;
}

.table .disabled {
  opacity: 0.3;
}

.table .disabled:hover {
  cursor: not-allowed;
}

.error_page,
a {
  text-align: center;
}

.error_page,
a {
  text-align: center;
}

.email {
  padding: 100px 15px;
}

.email__heading {
  margin-bottom: 50px;
}

.registration {
  padding: 100px 15px;
}

.registration__heading {
  margin-bottom: 50px;
}

.reset {
  padding: 100px 15px;
}

.reset__heading {
  margin-bottom: 50px;
}

.contact {
  padding: 60px 15px;
}

.contact__heading {
  margin-bottom: 30px;
}

.contact--h2 {
  margin-bottom: 30px;
}

.contact--h3 {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.contact--adress {
  text-align: center;
  margin-bottom: 10px;
}

.contact--space {
  margin: 20px auto 20px auto;
}

.contact--row {
  margin-top: 50px;
}

.contact--iframe {
  margin: 0 auto -30px auto;
}

#form {
  border-radius: 40px;
}

#form--subject {
  display: block;
  margin: 0 auto;
}

#form--content {
  display: block;
  margin: 0 auto;
  height: 80px;
}

#form--content:hover {
  text-align: none;
}

.faq {
  padding: 60px 15px;
  text-align: left;
}

.faq__heading {
  margin-bottom: 30px;
}

.faq p {
  font-size: 16px;
  text-align: left;
}

.faq--link {
  color: #1693A6;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.faq--link:hover {
  color: black;
}

.faq--h2 {
  text-align: center;
  margin: 0 auto 30px auto;
  display: block;
}

.faq--h3 {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.faq--adress {
  text-align: center;
  margin-bottom: 10px;
}

.faq--space {
  margin: 20px auto 85px auto;
}

.faq--row {
  margin-top: 50px;
}

.faq--iframe {
  margin: 0 auto -30px auto;
}

#form {
  border-radius: 40px;
}

#form--subject {
  display: block;
  margin: 0 auto;
}

#form--content {
  display: block;
  margin: 0 auto;
  height: 80px;
}

#form--content:hover {
  text-align: none;
}

.voorwaarden {
  padding: 60px 15px;
  text-align: left;
}

.voorwaarden__heading {
  margin-bottom: 30px;
}

.voorwaarden--head-hr {
  margin: 10px auto 0 auto;
}

.voorwaarden p {
  font-size: 16px;
  text-align: left;
}

.voorwaarden--link {
  color: #1693A6;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.voorwaarden--link:hover {
  color: black;
}

.voorwaarden--h2 {
  text-align: center;
  margin: 0 auto 30px auto;
  display: block;
}

.voorwaarden--h3 {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.voorwaarden--adress {
  text-align: center;
  margin-bottom: 10px;
}

.voorwaarden--space {
  margin: 20px auto 85px auto;
}

.voorwaarden--row {
  margin-top: 50px;
}

.voorwaarden--iframe {
  margin: 0 auto -30px auto;
}

#form {
  border-radius: 40px;
}

#form--subject {
  display: block;
  margin: 0 auto;
}

#form--content {
  display: block;
  margin: 0 auto;
  height: 80px;
}

#form--content:hover {
  text-align: none;
}

h1,
p {
  text-align: center;
}

h1,
h2 {
  font-weight: 700;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: #f5f5f5;
  margin-top: 78px;
}

p,
span,
label,
.btn-link,
input,
td,
select,
option,
textarea {
  font-family: "Roboto", sans-serif;
}

::-moz-selection {
  background: rgba(22, 147, 166, 0.4);
}

::selection {
  background: rgba(22, 147, 166, 0.4);
}

.card-content-admin {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.duo-heading {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-top: 125px;
}

.table td {
  vertical-align: middle;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.body {
  min-height: calc(100vh - 477px);
}

.body--noscroll {
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .hide-sm {
    display: none !important;
  }
}

@media screen and (min-width: 1000px) {
  .hide-xl {
    display: none !important;
  }
}

.invalid-feedback {
  display: block !important;
}

label {
  margin: 0 0 5px 0;
}

