@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,600,700,800,900&display=swap);.footer {
  background-color: #202020;
  padding: 75px 0;
  position: relative;
}

.footer__menu {
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 0;
}

.footer__menu-title {
  color: white;
  margin-bottom: 25px;
}

.footer__menu li {
  margin-bottom: 10px;
}

.footer__menu-item {
  color: white;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.footer__menu-item:hover {
  color: #1693A6;
}

.footer__menu-socials {
  padding: 0;
  color: white;
  font-size: 26px;
}

.footer__disclaimer {
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.footer__disclaimer-text {
  text-align: center;
  margin: 0;
}

.header {
  background: white;
  padding: 15px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.header__title {
  font-size: 22px;
  font-weight: 900;
  text-align: center;
  line-height: 1.1;
}

.header-wrap {
  align-content: center;
  display: -webkit-box;
  display: flex;
}

.header__menu {
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  flex-wrap: wrap;
  align-content: center;
  margin: 0;
  padding: 0;
}

.header__menu li {
  font-weight: 500;
  padding-right: 50px;
}

.header__menu li:last-child {
  padding: 0;
}

.header__menu-item {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header__menu-item:hover {
  color: #1693A6;
}

.header__menu-item--active {
  font-weight: 900;
}

.content {
  padding: 100px 15px;
}

.content__paragraph {
  max-width: 500px;
  text-align: center;
  margin: 0 auto 20px auto;
}

.content__button--center {
  margin: 0 auto;
  display: table;
}

.hero {
  height: 300px;
  background: center no-repeat;
  position: relative;
}

.hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.button--primary {
  background: #1693A6;
  color: white;
  padding: 7px 10px;
  border-radius: 4px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  border: none;
}

.button--primary:hover {
  background: #137f8f;
  color: white;
}

.btn-link {
  color: #1693A6;
}

.btn-link:hover {
  color: #1693A6;
}

.menu {
  padding: 100px 15px;
  background: white;
}

.menu p {
  text-align: left;
  display: block;
  max-width: 500px;
}

.menu__img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__button {
  margin-top: 20px;
  display: table;
}

.login {
  padding: 100px 15px;
}

.login__heading {
  margin-bottom: 50px;
}

.reservation {
  padding: 100px 15px;
}

.reservation__heading {
  margin-bottom: 50px;
}

.reservation__field {
  margin-bottom: 35px;
}

.reservation__field .button {
  margin: 0 auto;
  display: table;
}

.reservation__alert {
  position: fixed;
  max-width: 700px;
  bottom: 50px;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 999;
}

.reservation__fields {
  text-align: center;
}

.reservation__fields input {
  border: solid 1px #a1a1a1;
  border-radius: 4px;
  min-width: 200px;
  min-height: 35px;
  text-align: center;
}

.reservation__fields textarea {
  min-height: 100px;
  min-width: 350px;
  border-radius: 4px;
}

h1,
p {
  text-align: center;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: #f5f5f5;
  margin-top: 78px;
}

::-moz-selection {
  color: black;
  background: #e9e9e9;
}

::selection {
  color: black;
  background: #e9e9e9;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.body {
  min-height: calc(100vh - 477px);
}

