$color-main: #1693A6;

@import "footer";
@import "header";
@import "content";
@import "fonts";
@import "hero";
@import "button";
@import "menu";
@import "login";

h1, h3, p {
    text-align: center;
}

.text-center {
    text-align: center;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: #f5f5f5;
    margin-top: 78px;
}

::selection {
    color: black;
    background: #e9e9e9;
}

a {
    color: black;

    &:hover {
        text-decoration: none;
        color: black;
    }
}

.body {
    min-height: calc(100vh - 477px);
}
