$color-main: #1693A6;
$color-danger: #cd0613;
$color-block: #ec0d1c;
$color-deblock: #2c8839;

@import "footer";
@import "header";
@import "content";
@import "fonts";
@import "hero";
@import "button";
@import "menu";
@import "login";
@import "reservation";
@import "profiel";
@import "beheer";
@import "error";
@import "email";
@import "register";
@import "reset";
@import "contact";

h1, p {
    text-align: center;
}

h1, h2 {
    font-weight: 700;
}

body {
    font-family: 'Roboto Slab', serif;
    background-color: #f5f5f5;
    margin-top: 78px;
}

p, span, label, .btn-link, input, td, select, option, textarea {
    font-family: 'Roboto', sans-serif;
}

::selection {
    background: rgba($color-main, .4);
}

.card-content-admin {
    display: flex;
    align-items: center;
}

.duo-heading {
    display: flex;
    justify-content: space-between;
    margin-top: 125px;
}

.table td {
    vertical-align: middle;
}

a {
    color: black;

    &:hover {
        text-decoration: none;
        color: black;
    }
}

.body {
    min-height: calc(100vh - 477px);

    &--noscroll {
        height: 100vh;
        overflow: hidden;
    }
}

.hide-sm {
    @media screen and (max-width: 1000px) {
        display: none !important;
    }
}

.hide-xl {
    @media screen and (min-width: 1000px) {
        display: none !important;
    }
}

.invalid-feedback {
    display: block !important;
}

label {
    margin: 0 0 5px 0;
}
