.beheer {
    padding: 100px 0;

    &__heading {
        margin-bottom: 50px;
    }

    &__card {
        padding: 25px;
        margin-bottom: 30px;
        transition: .3s ease;
        will-change: transform;

        &:hover {
            transform: scale(.97);
        }
    }
}

.table {
    .disabled {
        opacity: .3;

        &:hover {
            cursor: not-allowed;
        }
    }
}
