.button {
    height: 38px;
    &--primary {
        background: $color-main;
        color: white;
        padding: 7px 15px;
        border-radius: 4px;
        transition: .2s ease;
        border: none;

        &:hover {
            background: darken($color-main, 5);
            color: white;
        }

        &--small {
            padding: 9px 12px;
        }
    }

    &--secondary {
        float: left;
        position: relative;
        left: 50%;
    }

    &--space {
        margin: 0 10px 0 10px;
        height: 10px;
        float: left;
    }

    &--go-back {
        margin: 20px auto 10px auto;
        text-align: center;
        float: left;
        position: relative;
        left: -50%;
    }

    &--left {
        margin: 0;
    }

    &--danger {
        background: $color-danger;
        color: white;
        padding: 7px 15px;
        border-radius: 4px;
        transition: .2s ease;
        border: none;

        &:hover {
            background: darken($color-danger, 5);
            color: white;
        }
    }

    &--soft {
        background: #ffc107;
        color: black;
        padding: 7px 15px;
        border-radius: 4px;
        transition: .2s ease;
        border: none;

        &:hover {
            background: darken(#ffc107, 5);
            color: black;
        }
    }

    &--positive {
        background: #77CCA4;
        color: white;
        padding: 7px 15px;
        border-radius: 4px;
        transition: .2s ease;
        border: none;

        &:hover {
            background: darken(#77CCA4, 5);
            color: white;
        }
    }
}

.btn {
    &-link {
        color: $color-main;

        &:hover {
            color: $color-main;
        }
    }
}
