.content {
    padding: 100px 15px;

    @media screen and (max-width: 600px) {
        padding: 50px 15px;
    }

    &__heading {
        margin-bottom: 50px;
    }

    &__paragraph {
        max-width: 500px;
        text-align: center;
        margin: 0 auto 20px auto;
    }

    &__button {
        &--center {
            margin: 0 auto;
            display: table;
        }
    }

    .stars {
        margin: 15px auto;
        display: table;
        i {
            font-size: 30px;
            color: orange;
            width: 35px;

            &:hover {
                cursor: pointer;
            }

            .space {
                display: flex;
                justify-content: space-evenly;
                position: relative;

                .half {
                    display: block;
                    height: 30px;
                    width: 15px;
                    position: absolute;
                    top: -30px;
                }

                .half--first {
                    left: 0;
                }

                .half--last {
                    right: 0;
                }
            }
        }
    }
}
