.header {
    background: white;
    padding: 15px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;

    &__title {
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        line-height: 1.1;
    }

    &-wrap {
        align-content: center;
        display: flex;
    }

    &__menu {
        list-style: none;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        align-content: center;
        margin: 0;
        padding: 0;

        &--right {
            li {
                padding-right: 20px !important;
            }
        }

        li {
            font-weight: 500;
            padding-right: 50px;

            &:last-child {
                padding: 0;
            }
        }

        &-item {
            transition: .2s ease;
            &:hover {
                color: $color-main;
            }

            &--active {
                color: $color-main;
            }
        }
    }
}
