label {
    margin: 10px 0;
}

.profiel {
    padding: 100px 15px;

    h2 {
        margin-bottom: 30px;
    }

    h3 {
        font-weight: 700;
    }

    &__heading {
        margin-bottom: 35px;
    }

    &__card {
        margin-bottom: 35px;
        padding: 20px;

        &--nocenter p {
            text-align: left;

        }

        &--less-margin {
            margin-bottom: 15px;
        }
    }

    &__input {
        margin-bottom: 15px;
    }

    &__spacing {
        margin-top: 35px;

        button {
            margin-left: 15px;
        }
    }

    &__remove-modal{
        width: 600px;
        position: fixed;
        left: 50%;
        top: -5000px;
        transform: translate(-50%, -50%);
        background: white;
        z-index: 999999;
        border-radius: 4px;
        border: solid lightgrey 1px;
        opacity: 0;
        transition: .5s ease opacity;

        &--active {
            top: 50%;
            opacity: 100;
        }

        &-content {
            padding: 15px;
        }

        &-background {
            display: none;
            opacity: 0;
            content: '';
            background: rgba(black, .7);
            z-index: 999998;
            top: -5000px;
            right: 0;
            bottom: 5000px;
            left: 0;
            position: fixed;
            transition: .5s ease opacity;

            &--active {
                display: block;
                top: 0;
                bottom: 0;
                opacity: 100;
            }
        }
    }

    &__block-modal{
        width: 600px;
        position: fixed;
        left: 50%;
        top: -5000px;
        transform: translate(-50%, -50%);
        background: white;
        z-index: 999999;
        border-radius: 4px;
        border: solid lightgrey 1px;
        opacity: 0;
        transition: .5s ease opacity;

        &--active {
            top: 50%;
            opacity: 100;
        }

        &-content {
            padding: 15px;
        }

        &-background {
            display: none;
            opacity: 0;
            content: '';
            background: rgba(black, .7);
            z-index: 999998;
            top: -5000px;
            right: 0;
            bottom: 5000px;
            left: 0;
            position: fixed;
            transition: .5s ease opacity;

            &--active {
                display: block;
                top: 0;
                bottom: 0;
                opacity: 100;
            }
        }
    }
}
